@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.skills {
  padding: 1rem;
  background: linear-gradient(
    180deg,
    rgba(61, 126, 166, 0.09287464985994398) 1%,
    rgba(61, 126, 166, 0.22172619047619047) 6%,
    rgba(61, 126, 166, 0.09287464985994398) 49%
  );
  h1 {
    font-size: 2rem;
    text-align: center;
    font-family: montserrat;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 2px;
    color: #00587a;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    width: 90%;
    margin: auto;
    justify-content: center;
    li {
      list-style: none;
      min-width: 350px;
      padding-left: 2px;
      display: flex;
      flex-grow: 1;
      margin: 0.8rem;
      background-color: #ecf2f7;
      border-radius: 0.5rem;
      border: 0.5px solid #d5e2eb;

      .js {
        background-color: black;
        height: 49px;
        align-self: center;
      }
      img {
        width: 3rem;
      }
      p {
        align-self: center;
        font-size: 20px;
        font-family: lato;
        margin-left: 3rem;
        color: #00587a;
      }
    }
  }
}
