.fun {
  position: relative;
  height: 300px;
  padding: 1rem;
  color: #181a1c;
  background: linear-gradient(
    180deg,
    rgba(61, 126, 166, 0.09287464985994398) 1%,
    rgba(61, 126, 166, 0.22172619047619047) 6%,
    rgba(61, 126, 166, 0.09287464985994398) 49%
  );
  .dateTime {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 2;
  }
  .fun-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .fun-main {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 3rem;
    p {
      padding: 1rem;
      margin-top: 0;
      font-size: 2rem;
      margin-left: 0.5rem;
    }
  }
  // .dateTime {
  //   position: absolute;
  //   transform: translate(-50%, -100%);
  //   color: red;
  // }
  .hello {
    text-align: end;
    span {
      border: 2px solid black;
      padding: 0.25rem;
      border-radius: 0.5rem;
      cursor: pointer;
    }
  }
}
.fun-dark {
  background: #181a1c;
  color: #ffe05d;
  position: relative;
  height: 300px;
  padding: 1rem;
  .fun-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // color: yellow;
  }
  .fun-main {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 3rem;
    p {
      padding: 1rem;
      font-weight: 500;
      margin-left: 0.7rem;
      font-size: 2rem;
      margin-top: 0;
    }
  }
  .dateTime {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 2;
  }
  .hello {
    text-align: end;
    span {
      border: 2px solid #rgb(236, 242, 246);
      padding: 0.25rem;
      border-radius: 0.5rem;
      cursor: pointer;
    }
  }
}
@media (max-width: 470px) {
  .fun {
    .fun-header {
      font-size: 1.3rem;
    }
  }
  .fun-dark {
    .fun-header {
      font-size: 0.5rem;
    }
  }
}
